/* Basic page style resets */
* {
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
}

body {
  margin: 50px;
  min-height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
  background: #021808;
}

h1 {
  font-size: 22px;
  font-weight: 700;
  color: #c4961a;
  text-align: center;
  width: 400px;
  left: calc(50% - 200px);
  position: absolute;
}

p {
  font-size: 18px;
  font-weight: 700;
  color: #c4961a;
  text-align: left;
}

#about-div {
  left: calc(50% - 200px);
  position: absolute;
  margin: 60px 0 100px 0;
  width: 400px;
}

/* Styling for game controls board */
#controls {
  margin: 20px auto;
  width: 350px;
  height: 760px;
  background-color: #606c38;
  padding: 20px 50px;
  border-radius: 15px;
  position: absolute;
  z-index: 0;
  top: 220px;
  left: calc(50% - 175px);
  display: flex;
  justify-content: space-between;
}

/* Styling for header in game controls board */
#controls h1 {
  display: inline-block;
  font-size: 16px;
  font-weight: 700;
  line-height: 50px;
  color: #c4961a;
  width: 200px;
  height: 81px;
  text-align: left;
}

/* Styling for buttons on game controls board */
.button {
  display: inline-block;
  background-color: #c4961a;
  font-size: 12px;
  font-weight: bold;
  color: #fefae0;
  margin-left: auto;
  height: 7ch;
  width: 17ch;
  border-radius: 99vh;
  cursor: pointer;
}

/* Styling for buttons on game controls board - once hovered over */
.button {
  color: white;
}

/* Styling for game board where cards will lay in a grid format */
.grid {
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 20px auto;
  width: 350px;
  height: fit-content;
  top: 320px;
  left: calc(50% - 175px);
  background: #606c38;
  grid-column-gap: 8px;
  grid-row-gap: 8px;
}

img {
  position: relative;
  width: 100px;
  box-shadow: 1px 1px 20px 0px rgb(0 0 0 / 60%);
  border-radius: 20px;
  border-color: #fefae0;
  border-style: solid;
  border-width: 2px;
}

.grid > img {
  cursor: pointer;
}

@media only screen and (min-width: 1000px) {
  .grid {
    width: 500px;
    left: calc(50% - 250px);
  }

  #controls {
    width: 500px;
    height: 615px;
    left: calc(50% - 250px);
  }

  .about-div {    
    width: 600px;
    left: calc(50% - 300px);
  }

  header {
    width: 600px;
  }
}