/* Basic page style resets */
* {
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
}

/* Basic page styling */
body {
  margin: 50px;
  min-height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
  background: #021808;
}

h1 {
  font-size: 1.3rem;
  font-weight: 700;
  color: #c4961a;
  text-align: center;
  width: 400px;
  left: calc(50% - 200px);
  position: absolute;
}

h2 {
  font-size: 1.1rem;
  font-weight: 500;
  color: #c4961a;
  text-align: left;
}

h3 {
  font-size: 1.05rem;
  font-weight: 600;
  color: #c4961a;
  text-align: left;
}

p {
  font-size: 1rem;
  font-weight: 600;
  color: #c4961a;
  text-align: left;
}

/* Styling of information about the game */
#about-div {
  left: calc(50% - 175px);
  position: absolute;
  margin: 60px 0 100px 0;
  width: 350px;
}

/* Styling for game controls board */
#controls {
  margin: 20px auto;
  width: 350px;
  height: 980px;
  background-color: #606c38;
  padding: 20px 50px;
  border-radius: 15px;
  position: absolute;
  z-index: 0;
  top: 220px;
  left: calc(50% - 175px);
  display: flex;
  justify-content: space-between;
}

/* Styling for scoreboard in game controls board */
#controls h3 {
  display: inline-block;
  line-height: 60px;
  width: 200px;
  height: 81px;
}

/* Styling for buttons on game controls board */
.button {
  display: inline-block;
  background-color: #c4961a;
  font-size: 0.8rem;
  font-weight: bold;
  color: #fefae0;
  margin-left: auto;
  height: 6ch;
  width: 14ch;
  border-radius: 99vh;
  cursor: pointer;
}

/* Styling for buttons on game controls board - once hovered over */
.button {
  color: white;
}

/* Styling for game board (where cards will lay in a grid format) */
#grid {
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 20px auto;
  width: 350px;
  height: fit-content;
  top: 320px;
  left: calc(50% - 175px);
  background: #606c38;
  grid-column-gap: 8px;
  grid-row-gap: 8px;
}

/* Styling for cards to lay in a grid format */
img {
  position: relative;
  width: 100px;
  box-shadow: 1px 1px 20px 0px rgb(0 0 0 / 60%);
  border-radius: 20px;
  border-color: #fefae0;
  border-style: solid;
  border-width: 2px;
  cursor: pointer;
}

/* Styling for tree information title at the bottom of the game console */
#info-title {
  left: calc(50% - 160px);
  position: absolute;
  margin: 960px 0 100px 0;
  width: 320px;
}

/* Styling for div which will display tree info at bottom of console */
#info {
  font-size: 1rem;
  font-weight: 600;
  color: #c4961a;
  text-align: left;
  left: calc(50% - 160px);
  position: absolute;
  margin: 1000px 0 100px 0;
  width: 320px;
  height: 200px;
}

/* Responsive styling for wider screens */
@media only screen and (min-width: 1000px) {
  #grid {
    width: 500px;
    left: calc(50% - 250px);
  }

  #controls {
    width: 500px;
    height: 800px;
    left: calc(50% - 250px);
  }

  #about-div {    
    width: 600px;
    left: calc(50% - 300px);
    margin: 80px 0 100px 0;
  }

  #info-title {
    left: calc(50% - 250px);
    margin: 800px 0 100px 45px;
    width: 500px;
  }

  #info {
    left: calc(50% - 250px);
    margin: 830px 0 0 45px;
    width: 400px;
  }

  .button {
    height: 7ch;
    width: 17ch;
    font-size: 0.9rem;
  }

  h1 {
    font-size: 1.5rem;
  }
  
  h2 {
    font-size: 1.2rem;
  }
  
  h3 {
    font-size: 1.05rem;
    font-weight: 600;
    color: #c4961a;
    text-align: left;
  }
  
  p {
    font-size: 0.9rem;
    font-weight: 600;
    color: #c4961a;
    text-align: left;
  }
}